html, body{height:100%;}
body{/* width:75%; */margin:auto;text-align:center;font-family: 'Open Sans', sans-serif;overflow-x: hidden;}
#bgimage {
	z-index: -1;
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: center center;
	/*-webkit-filter: blur(50px) brightness(0.8);
-moz-filter: blur(50px) brightness(0.8);
-ms-filter: blur(50px) brightness(0.8);
-o-filter: blur(50px) brightness(0.8);
filter: blur(50px) brightness(0.8);*/
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

.modal-content p{text-align: left;}
#rulesbutton{position: absolute;top: 5px;right: 5px;z-index: 995;}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #F1F1F1 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #74DE74 !important;
}
#zofform_container{
  /* margin: auto; */
  /* height: 150px; */
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  text-align: -webkit-center;
}

#zofform_container:hover{
  background: white;
}
#hidden-height{
      height: 140px;
}
#github{
	z-index: -1;

}

#intervalnumber {width:50px;text-align: center;}
#qr_container{
    height:200px;
    opacity:0;
    -webkit-transition:opacity 1s; /* Safari */
    transition: opacity 1s;
    width: 200px;
    align-items: center;
    justify-content: center;
    }
    .np_info{font-weight:100;}
#topLabel{margin-left:21px;}
.bottomswitch{margin-top:10px;}
#ok{display:block;margin:auto;height:80%;width: 75%;}
#vertical{ display: block;vertical-align: middle;margin:auto;}
#display-area{    font-size: calc(9vh + 5vw);}
#previous{font-size:80px;}
#display-area, #previous, #players{padding-top:20px;padding-bottom:20px;color:#2D2D2D;}
#inp, #zoffchannel{
width: 90%;
height: 50px;
color:#2D2D2D;
border: none;
border-bottom:1px solid #2D2D2D;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
margin-bottom: 20px;
text-align: center;
-webkit-transition: background 1s;
-moz-transition: background 1s;
-o-transition: background 1s;
transition: background 1s;
background-color: rgba(255, 255, 255, 0);}

#zoffchannel{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}

#github{
	position:fixed;
	bottom:0px;
	/*left: calc(50vw - 18.5px);*/
  right: 10px;
}

#show-counter{
	position:absolute;
	left:10px;
	top:0px;
	text-align: left;
}

textarea:focus, input:focus{
    outline: 0;
}

#toast-container{right: auto !important;
    left: 16px;
    top: 5px;
    cursor: pointer;}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(sound/open_sans.woff) format('woff');

}



svg{
  pointer-events:none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.07;
}

path{
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
  position: absolute;
  top: 0;
  height: 100vh;
  bottom: 0;
  /* margin: auto; */
  z-index: -1;
  right: 0;
  z-index: 9;
}

.top-elements {
  position: relative;
}

.scoreboard {
  width: 150px;
  top: 50px;
  left: 14px;
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* font-size: 14.5px; */
  font-weight: 300;
}

.scoreboard li:first-child {
  font-weight: bold;
  text-align: center;
}

.scoreboard .score {
  float: right;
}

.scoreboard .name {
  float: left;
}

.stop_zoff {
  margin-bottom: 10px;
  width: 80%;
  color: white !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.now_playing {
  margin-top: -22px;
  font-size: 1rem;
  width: 200px;
}

.player-remove-name {
  cursor: pointer;
}

.player-remove-name:after {
  content: ", ";
}

.player-remove-name:last-child:after {
  content: "";
}

#qr_zoff_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switch-right {
  float: right;
}

.side-nav {
  text-align: left;
}

.interval-li {
  padding-top: 35px;
}

.button-collapse {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 997;
}

.hide {
  display: none !important;
}

.container {
	position: absolute;
	top: 0px;
	width: 100vw;
	/* height: 100%; */
	min-height: 100vh;
	/* overflow: hidden; */
	max-width: 100vw;
	background: rgba(255,255,255,.95);
}

.durationBar {
	background: black;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 7px;
	width: 0vw;
	border-top-right-radius: 4px;
}

iframe {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  border: none;
}

#relative {
	position: relative;
	width: 100vw;
	z-index: 99;
	/* height: 107%; */
	/* background: rgba(255,255,255, .95); */
}

p#link_join {
    display: flex;
    justify-content: center;
    align-items: center;
}

span#join_id {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 4px;
}

.animate-right {
  left: 0;
}

.animate-left {
  right: 0;
}

@media only screen and (max-width: 736px) and (max-width:600px), only screen and (max-device-width: 736px){
  #display-area{
    display: block;
    margin-top: 10rem;
    font-size: 3rem;
  }

  #qr_container{
    display: none;
  }

  #previous{
    font-size: 3rem;
  }

  #inp, #zoffchannel{
    font-size: 1.5rem;
  }

  #github{
  	position:fixed;
  	bottom:0px;
  	left: calc(50vw - 18.5px);
  	right:auto;
  	z-index: 9;
  }

  .scoreboard {
    display: none !important;
  }
}


@media screen and (orientation:landscape) {
  #display-area{
    margin-top: 0rem;
  }

  #github{
  	position:fixed;
  	bottom: 15px;
  	/*left: calc(50vw - 18.5px);*/
  	right: 15px;
  }
}

@-webkit-keyframes animation-right
    {
    0%   { left:0%; top:0px;transform:rotate(0deg)}
    100%  {left:70%;}

    }

    /* Standard syntax */
    @keyframes animation-right
    {
    0%   { left:0%; top:0px;transform:rotate(0deg)}
    100%  {left:70%;}

    }

    @-webkit-keyframes animation-left
        {
        0%   { left:0%; top:0px;transform:rotate(0deg)}
        100%  {left:70%;}

        }

        /* Standard syntax */
        @keyframes animation-left
        {
        0%   { left:70%; top:0px;transform:rotate(0deg)}
        100%  {left:0%;}

        }
